body.no-scroll {
  overflow: hidden;
}

.menug-bar,
.menug-overlay {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10000; /* Ensure the menu bar and overlay are on */
}

.menug-logo {
  /* Add styles as needed */
}

.menug-bar a,
.menug-toggle .hamburger-menu span {
  color: #fff;
  cursor: pointer;
}

.menug-overlay-bar .menug-logo a,
.menug-close-icon p {
  color: #000;
  cursor: pointer;
}

.menug-overlay {
  position: fixed;
  top: 0;
  left: 0; /* Change this from 'left' to 'right' */
  width: 100vw;
  height: 100vh;
  padding: 1em; /* Adjust padding as needed */
  background: #0c375bef;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
  overflow-y: auto; /* Enable vertical scrolling */
}

.menug-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu {
  width: 30px; /* Default width for big screens */
  height: 17px; /* Default height for big screens */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px; /* Default margin-top for big screens */
  margin-right: 20px;
}

@media (max-width: 768px) {
  .hamburger-menu {
    width: 20px; /* Adjust width of hamburger button for smaller screens */
    height: 15px; /* Adjust height of hamburger button for smaller screens */
    margin-top: 20px; /* Adjust margin-top for smaller screens */
    margin-left: 20px;
  }
}

@media (max-width: 640px) {
  .hamburger-menu {
    width: 20px; /* Adjust width of hamburger button for smaller screens */
    height: 15px; /* Adjust height of hamburger button for smaller screens */
    margin-top: 10px; /* Adjust margin-top for smaller screens */
    margin-left: 20px;
  }
}

.hamburger-menu span {
  width: 100%;
  height: 2px; /* Adjust height of hamburger lines */
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.hamburger-menu span:nth-child(1) {
  transform: translateY(0);
}

.hamburger-menu span:nth-child(2) {
  transform-origin: center;
}

.hamburger-menu span:nth-child(3) {
  transform: translateY(0);
}

.menug-open .hamburger-menu span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menug-open .hamburger-menu span:nth-child(2) {
  transform: scaleX(0);
}

.menug-open .hamburger-menu span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menug-links {
  flex: 1; /* Take available space */
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.menug-close-icon {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

.menug-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  overflow: visible; /* Ensure overflow is visible */
}

.menug-link-item-holder {
  position: relative;
  overflow: visible; /* Ensure overflow is visible */
  width: 50%; /* Adjust as needed */
}

.menug-link-item-holder a {
  color: #000;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
  display: inline-block; /* Ensure the anchor tag scales properly */
}

.menug-link-item-holder.services-link a {
  margin-bottom: 15px;
  margin-top: 0; /* Reset margin top */
  color: #a1a7b4;
}

.submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-width: calc(100vw - 4em);

  padding-top: 20px;
}

.submenu .menug-link-item-holder {
  display: flex;
  align-items: center; /* Vertically center items */
  position: relative;
  overflow: visible;
  width: 100%;
  padding-bottom: 10px; /* Padding between items */
}

.submenu .menug-link-item-holder::before {
  content: "";
  display: block;
  width: 8px; /* Adjust size of the dot */
  height: 8px; /* Adjust size of the dot */
  background-color: white; /* Color of the dot */
  border-radius: 50%; /* Ensures the dot is circular */
  margin-right: 8px; /* Space between dot and text */
  margin-bottom: 12px;
}

.submenu .menug-link-item-holder a {
  color: white;
  font-size: 1.2em; /* Adjust as needed */
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
  display: inline-block;
  text-decoration: none; /* Ensure no underline */
}

@media (max-width: 768px) {
  .submenu .menug-link-item-holder a {
    font-size: 0.6em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 1024px) {
  .submenu .menug-link-item-holder a {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}

.additional-solutions-heading {
  font-size: 2.5em;
  /* font-weight: bold; */
  margin-bottom: 15px;
  color: #a1a7b4;
}

.additional-services-heading {
  font-size: 2.5em;
  /* font-weight: bold; */
  margin-bottom: 15px;
  color: #a1a7b4;
}

@media (max-width: 768px) {
  .additional-solutions-heading {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 1024px) {
  .additional-solutions-heading {
    font-size: 2em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .additional-services-heading {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 1024px) {
  .additional-services-heading {
    font-size: 2em; /* Adjust font size for smaller screens */
  }
}

.home-link,
.about-link,
.contact-link {
  font-size: 2.5em;
}

@media (max-width: 768px) {
  .home-link,
  .about-link,
  .contact-link {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 1024px) {
  .home-link,
  .about-link,
  .contact-link {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}
